<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Sportify</a>
    <ul>
      <li><a href="/tournaments">Tournaments</a></li>
      <li><a href="/tournaments/new">Add Tournament</a></li>
      <li><a href="/players">Players</a></li>
      <li><a href="/players/new">Add Player</a></li>
    </ul>
  </nav>
</header>